<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>New User Page</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user">User List</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form method="POST" action="/user">
      <input type="text" placeholder="username" name="name">
      <input type="text" placeholder="password" name="name">
      <input type="submit" value="Create User"/>
    </form>
  </main>
</body>
</html>