<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>New User Page</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user">User List</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h4>Login</h4>
    <form method="POST" action="/user">
      Username: <input type="text" placeholder="username" name="username"><br/>
      Password: <input type="password" placeholder="password" name="password"><br/>
      <input type="submit"><br/>
    </form>
  </main>
</body>
</html>